html {
  font-family: 'Exo', sans-serif;
  color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.wrapper-wrappera {
  width: 1200px;
  height: 500px;
  margin: 0 auto;
}
.wrapper {
  width: 800px;
  display: flex;
  justify-content: space-between;
}
.team-block {
  position: relative;
}
.svg{
  position: absolute;
  top: 0px;
  left: 0px;
}
.picturer {
  position: absolute;
  top: 50px;
  left: 100px;
  z-index: 100;
}
.bc {
  border-radius: 10px;
  background-color: rgb(222, 87, 73);
  position: absolute;
  top: 100px;
  width: 370px;
  height: 336px;
  text-align: center;
}
.desc-title {
  width: 140px;
  position: absolute;
  top: 110px;
  left: 115px;
}
.desc {
  position: absolute;
  width: 300px;
  top: 190px;
  left: 40px;
  font-weight: 300;
}
.title {
  font-size: 50px;
  font-weight: 400;
  color: rgb(222, 87, 73);
  line-height: 0.5;
  text-align: center;
}
.subtitle {
  width: 900px;
  margin: 0 auto;
  margin-bottom: 100px;
  font-weight: 100;
  color: #777;
  line-height: 2.5;
  text-align: center;
}